<div class="flex h-full w-64 bg-gray-800 text-white flex-col items-center">
    <h2 class="text-xl font-bold bg-black w-full h-16 text-center p-4">Pocket Shop</h2>
    <ul>
        <li>
            <a href="">Filter 1</a>
        </li>
        <li>
            <a href="">Filter 1</a>
        </li>
        <li>
            <a href="">Filter 1</a>
        </li>
        <li>
            <a href="">Filter 1</a>
        </li>
    </ul>
    <div class="flex items-center p-4">
        <input type="text" id="searchInput" placeholder="Search items..." class="border rounded p-2 w-full text-black">
        <button id="searchButton" class="bg-blue-500 text-b rounded p-2 ml-2">Search</button>
    </div>
</div>