<div class="flex h-full w-64 bg-zinc-700/25 shadow-[0_8px_32px_0_rgba(31,38,135,0.37)] backdrop-blur-[5.5px] text-white flex-col items-center">
    <h2 class="text-3xl font-bold w-full h-16 text-center p-4 border-b border-white/25 mb-4">Pocket Shop</h2>
    <ul class="text-xl flex flex-col m-2 text-white/75 ">
        <li class="flex items-center p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/">All</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/starter">Starter</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white  hover:bg-white/5 rounded-sm">
            <a href="/consumables-trinkets">Consumables & Trinkets</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/attack-damage">Attack Damage</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/critical-strike">Critical Strike</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/attack-speed">Attack Speed</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/on-hit">On-Hit</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/armor-penetration">Armor Penetration</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/ability-power">Ability Power</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/mana-regeneration">Mana Regeneration</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/magic-penetration">Magic Penetration</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/health-regeneration">Health Regeneration</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/armor">Armor</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/magic-resistance">Magic Resistance</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/ability-haste">Ability Haste</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/movement">Movement</a>
        </li>
        <li class="flex items-center  p-2 hover:text-white hover:bg-white/5 rounded-sm">
            <a href="/lifesteal-omnivamp">Lifesteal & Omnivamp</a>
        </li>
    </ul>
</div>
