<div class="flex h-full w-64 bg-gray-800 text-white flex-col items-center">
    <h2 class="text-xl font-bold bg-black w-full h-16 text-center p-4">Pocket Shop</h2>
    <ul>
        <li>
            <a href="/">All</a>
        </li>
        <li>
            <a href="/starter">Starter</a>
        </li>
        <li>
            <a href="/consumables-trinkets">Consumables & Trinkets</a>
        </li>
        <li>
            <a href="/attack-damage">Attack Damage</a>
        </li>
        <li>
            <a href="/critical-strike">Critcal Strike</a>
        </li>
        <li>
            <a href="/attack-speed">Attack Speed</a>
        </li>
        <li>
            <a href="/on-hit">On-Hit</a>
        </li>
        <li>
            <a href="/armor-penetration">Armor Penetration</a>
        </li>
        <li>
            <a href="/ability-power">Ability Power</a>
        </li>
        <li>
            <a href="/mana-regeneration">Mana Regeneration</a>
        </li>
        <li>
            <a href="/magic-penetration">Magic Penetration</a>
        </li>
        <li>
            <a href="/health-regeneration">Health Regeneration</a>
        </li>
        <li>
            <a href="/armor">Armor</a>
        </li>
        <li>
            <a href="/magic-resistance">Magic Resistance</a>
        </li>
        <li>
            <a href="/ability-haste">Ability Hase</a>
        </li>
        <li>
            <a href="/movement">Movement</a>
        </li>
        <li>
            <a href="/lifesteal-omnivamp">Lifesteal & Omnivamp</a>
        </li>
    </ul>
    <div class="flex items-center p-4">
        <input type="text" id="searchInput" placeholder="Search items..." class="border rounded p-2 w-full text-black">
        <button id="searchButton" class="bg-blue-500 text-b rounded p-2 ml-2">Search</button>
    </div>
</div>