<div class="flex h-full w-64 bg-gray-800 text-white flex-col items-center">
    <h2 class="text-xl font-bold bg-black w-full h-16 text-center p-4">Pocket Shop</h2>
    <ul class="text-xl flex flex-col">
        <li class=" flex items-center space-x-2`">
            <a href="/">All</a>
        </li>
        <li class=" flex items-center space-x-2`">
            <img src="" alt="">
            <a href="/starter">Starter</a>
        </li>
        <li class=" flex items-center space-x-2`">
            <img src="" alt="">
            <a href="/consumables-trinkets">Consumables & Trinkets</a>
        </li>
        <li class=" flex items-center space-x-2`">
            <img src="/images/icons/attack_icon.png" alt="img of icon">
            <a href="/attack-damage">Attack Damage</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/critical_strike_icon.png" alt="">
            <a href="/critical-strike">Critcal Strike</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/attack_speed_icon.png" alt="">
            <a href="/attack-speed">Attack Speed</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/onhit_icon.png" alt="">
            <a href="/on-hit">On-Hit</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/armor_penetration_icon.png" alt="">
            <a href="/armor-penetration">Armor Penetration</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/ability_power_icon.png" alt="">
            <a href="/ability-power">Ability Power</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/mana_mana_regeneration_icon.png" alt="">
            <a href="/mana-regeneration">Mana Regeneration</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/magic_penetration_icon.png" alt="">
            <a href="/magic-penetration">Magic Penetration</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/health_icon.png" alt="">
            <a href="/health-regeneration">Health Regeneration</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/armor_icon.png" alt="">
            <a href="/armor">Armor</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/magic_resist_icon.png" alt="">
            <a href="/magic-resistance">Magic Resistance</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/cooldown_reduction_icon.png" alt="">
            <a href="/ability-haste">Ability Hase</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/movement_icon.png" alt="">
            <a href="/movement">Movement</a>
        </li>
        <li class=" flex items-center space-x-1`">
            <img src="/images/icons/lifesteal_omnivamp_icon.png" alt="">
            <a href="/lifesteal-omnivamp">Lifesteal & Omnivamp</a>
        </li>
    </ul>
    <div class="flex items-center p-4">
        <input type="text" id="searchInput" placeholder="Search items..." class="border rounded p-2 w-full text-black">
        <button id="searchButton" class="bg-blue-500 text-b rounded p-2 ml-2">Search</button>
    </div>
</div>